.current-weather {
  width: 100%;
  margin-top: 100px;

  .current-temp {
    text-align: center;
    margin: 5px 0;
  }

  .current-condition {
    text-align: center;
    padding-top: 2px;
    text-transform: uppercase;
  }

  .current-icon {
    height: 75px;
    width: 75px;
    width: 100%;
    margin-top: 25px;
  }
}
