.forecast-wrap {
  // margin: auto;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 300;
  margin-top: 100px;
}
.forecast {
  display: flex;
  justify-content: center;
  // border: 1px solid pink;
}

.forecast-icon {
  height: 35px;
  width: 35px;
  // border: 1px solid pink;
  margin: 10px 0;
}

.day-wrap {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
